/* Variables */
:root   {
  --basic-red:  #EE3643;
  --dark-blue:  #293449;
  --basic-green:  #63A63E;
  --white:  #FFFFFF;
  --black:  #000000;
  --grey-blue:  #32425C;
  --yellow: #FFBF47;
  --blue: #3BBCE3;
  --pink: #DC91D8;
  --light-green: #8ED78F;
  --dark-yellow:  #FFC047;
  --light-grey: #F9F5F0;
  --grey: #F1F5F7;
  --yellow-special: #FFD180;
}
